@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


body {
    margin: unset;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
}

:root {
    background-color: #34373b;
}



.navBar {
    background-color: #00224D;
    height: 142px;
    box-shadow: 0px 5px 15px 5px rgb(193 193 193 / 15%);

    h1 {
        color: white;
        margin-top: unset;
        width: 145px;
        margin: auto;
        padding: 15px 0;
    }

    hr {
        height: 10px;
        background-color: #FF204E;
        border: none;
        margin-top: unset;
    }

    .btnWrapper {
        float: right;

        button {
            color: #FF204E;
            background-color: unset;
            border: none;
            margin-right: 17px;

            &:hover {
                cursor: pointer;
            }

            svg {
                height: 40px;
            }
        }
    }
}

.formWrapper {
    background-color: #adaeaf;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 20px 18px rgb(193 193 193 / 15%);
    @media only screen and (max-width: 1225px) {
     width: 90%;  
     margin-top: 20px;
    }
}


.CVWrapper{
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    @media only screen and (max-width: 1225px) {
        width: 90%;  
        margin-top: 20px;
       }
}