.eduInputInfo {
    text-align: center;
    width: 92%;
    margin: auto;
    margin-bottom: 20px;

    .fromTo {
        width: 90%;
        margin: auto;
        margin-bottom: -20px;

        p {
            margin-bottom: 0;
            display: inline-block;
            width: 52%;
            text-align: left;
            color: white;
            margin-top: 10px;
            margin-bottom: 0;
        }

        p:nth-of-type(2) {
            width: 47%;
        }

    }

    hr {
        height: 2px;
        background-color: black;
        border: 1px solid white;
    }

    input {
        padding: 10px;
        background-color: white;
        border: 1px solid #00224D;
        border-radius: 5px;
        font-family: "Madimi One", sans-serif;
        font-size: 16px;
        font-weight: 100;
        margin: 3px;
        width: 42%;

        @media only screen and (max-width: 425px) {
            width: 35%;
        }

    }

    textarea {
        padding: 10px;
        background-color: white;
        border: 1px solid #00224D;
        border-radius: 5px;
        font-family: "Madimi One", sans-serif;
        font-size: 16px;
        font-weight: 100;
        margin: 3px;
        width: 88%;

        @media only screen and (max-width: 425px) {
            width: 78%;
        }
    }

    .eduFirstLineWrapper {
        width: 92%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: -20px;

        button {
            color: white;
            background-color: unset;
            border: none;


            &:hover {
                cursor: pointer;
            }

            svg {
                height: 30px;
            }
        }

        button:nth-of-type(1) {
            float: left;
            margin-top: 15px;

        }

        button:nth-of-type(2) {
            float: right;
            margin-top: 13px;
        }

    }
}