.uniHeader {
    margin: auto;
    width: 80%;

    h2 {
        margin-bottom: 10px;
        font-weight: 400;

        svg {
            margin-right: 15px;
            color: #1a1aadcc;
        }
    }

    hr {
        height: 2px;
        border: none;
        background-color: #1a1aadcc;
    }
}


.uniWrapper {
    margin: auto;
    width: 80%;

    .uniName {
        margin-top: -10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        p {
            margin: 20px 0 0 1em;
        }

        h4 {
            margin-left: 1em;
            font-weight: 400;
        }
    }

    .uniDegree {
        h3 {
            margin: 0;
            color: #1a1aadcc;
        }

        .uniPeriod {
            display: flex;
            flex-direction: row;

            .uniFromPeriod {
                margin-top: 7px;
                font-weight: 400;
            }

            p {
                margin-top: 5px;
                margin-left: 0.5em;
                font-weight: 400;
            }

            .uniTillPeriod {
                margin-left: 0.5em;
                margin-top: 7px;
                font-weight: 400;
            }
        }
    }

    p {
        margin-top: 0;
    }
}